body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/fondoIndex.png');
    background-size: cover;
    background-attachment: fixed;
    color: #333333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    margin-top: 60px;
    padding: 30px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

/* Formulario */
.form-container {
    background-color: rgba(245, 245, 245, 0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    max-width: 400px;
    margin: auto;
    transform: scale(0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: scale(1);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Encabezados */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #007bff;
    font-weight: bold;
    animation: slideInFromTop 0.8s ease;
}

h5 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #0056b3;
    text-align: center;
}

/* Entradas de formulario */
.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f8f9fa;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #17a2b8;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(23, 162, 184, 0.5);
}

/* Botón */
.btn {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s ease;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Enlace */
.link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
